<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@forum.division.title}", division_path(@forum.division.id)%>
<%= form_for(@forum) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :autofocus => true %>
	</div>
	<div class="field">
		<%= f.label "Division ID" %><br />
		<%= f.text_field :division_id %>
	</div>
	<div class="actions">
		<%= f.submit "Confirm Editions", :class => "action" %>
		<%= f.submit "Cancel", :class => "action" %>
	</div>
<% end %>

<table>
	<tr><th>ID:</th><th>Title</th></tr>
	<% Division.all.each do |d| %>
		<tr>
			<td><%= d.id %></td><td><%= d.title%></td>
		</tr>
	<% end %>
</table>
