<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@division.title}", division_path(@division.id)%>
<%= form_for(@forum) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :autofocus => true %>
	</div>
	<%= hidden_field_tag(:division_id, params[:division_id]) %>
	<div class="actions">
		<%= f.submit "Create Forum", :class => "action" %>
		<%= f.submit "Cancel", :class => "action" %>
	</div>
<% end %>