<%= link_to "Forums", divisions_path %>
<%= link_to "Edit", :controller => "forums", :action => "edit", :id => @forum.id %>
<%= link_to "Destroy", @forum, :method => :delete,
							  :confirm => "Forum and all child topcs will be permanently and irrecoverably destroyed!  Are you sure?",
							  :title => "Delete #{@forum.title}" %>
<%= link_to "Create New Topic", :controller => "topics", :action => "new", :forum_id => @forum.id %>
<table>
	<% @topics.each do |t| %>
		<tr>
			<td><%= link_to t.title, :controller => "topics", :action => "show", :id => t.id %></td>
		</tr>
	<% end %>
</table>