<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@forum.division.title}", division_path(@forum.division.id)%>
<div class="list">
	<h3 class="title">
		<sup><%= @forum.id if admin? %> <%= @forum.dex if admin? %></sup>
		<%= @forum.title %>			
		<sup><%= link_to "X", @forum, 	:method => :delete,
						  	  				:confirm => "Forum and all child forums will be permanently and irrecoverably destroyed!  Are you sure?",
						  	  				:title => "Delete #{@forum.title}",
						  	  				:class => "destroy button",
						  	  				:title => "Destroy" if admin? %></sup>
		<sup><%= link_to "E", edit_forum_path(@forum.id), :class => "edit button", :title => "Edit" if admin? %></sup>
	</h3>

	<table>
		<% @forum.topics.order("updated_at DESC").each do |t| %>
			<tr class="item">
				<td id="item"><%= link_to topic_path(t.id), :class => "item" do %><%= t.title %> <sub><%= t.posts.publish.count %></sub><% end %></td>
				<td class="new emph"><%= "<--- Updated #{distance_of_time_in_words_to_now(t.updated_at)} ago" if t.updated_at > current_user.last_login %></td>
				<td class="thin"><nobr><%= link_to "-#{t.user.name}", user_path(t.user.id), :class => "user" %></nobr></td>
				<td class="thin"><nobr><%= "#{distance_of_time_in_words_to_now(t.created_at)} ago" %></nobr></td>
			</tr>
		<% end %>
	</table>
	
	<%= link_to "+Topic", new_topic_path(:forum_id => @forum.id), :class => "add_item", :title => "Create New Topic" if current_user.rank.clearance >= @forum.division.write_level%>
</div>