<%= link_to "Forums", divisions_path %>
<%= form_for(@topic) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title, :autofocus => true %>
	</div>
	<%= hidden_field_tag(:forum_id, params[:forum_id]) %>
	<div class="actions">
		<%= f.submit "Confirm Editions" %>
		<%= f.submit "Cancel" %>
	</div>
<% end %>