<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@topic.forum.division.title}", division_path(@topic.forum.division.id)%>  <%= link_to "/#{@topic.forum.title}", forum_path(@topic.forum.id) %>
<%= link_to "Edit", :controller => "topics", :action => "edit", :id => @topic.id %>
<%= link_to "Destroy", @topic, :method => :delete,
							  	:confirm => "Topic and all child posts will be permanently and irrecoverably destroyed!  Are you sure?",
							  	:title => "Delete #{@topic.title}" %>
<table>
	<% @topic.posts.each do |p| %>
		<tr>
			<td><%= p.content %></td>
			<td><%= p.user.name %></td>
			<td>Updated: <%= p.updated_at %></td>
			<td>Created: <%= p.created_at %></td>
		</tr>
	<% end %>
</table>
<%= link_to "Create Post", :controller => "posts", :action => "new", :topic_id => @topic.id %>
