<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@topic.forum.division.title}", division_path(@topic.forum.division.id)%>  <%= link_to "/#{@topic.forum.title}", forum_path(@topic.forum.id) %>
<div class="list">
	<h3 class="title">
		<sup><%= @topic.id if admin? %></sup>
		<%= @topic.title %>			
		<sup><%= link_to "X", @topic, 	:method => :delete,
						  	  				:confirm => "Topic and all child posts will be permanently and irrecoverably destroyed!  Are you sure?",
						  	  				:title => "Delete #{@topic.title}",
						  	  				:class => "destroy button",
						  	  				:title => "Destroy" if admin? %></sup>
		<sup><%= link_to "E", edit_topic_path(@topic.id), :class => "edit button", :title => "Edit" if admin? %></sup>
	</h3>
							  	
	<table>
		<% @posts.each do |p| %>
				<tr class="item">
						<% if !p.publish %>
							<td id="unpublished">
								<%= link_to "Unpublished Post", post_path(p.id) %> - <%= p.user.name %>
							</td>
						<% else %>
							<td>
								<div class="content">
									<%= link_to "-#{p.user.name}", user_path(p.user.id), :class => "user" %>
									<%= simple_format(p.content) %>
								</div><br/>
								<span class="post">
									<span class="time">Updated: <%= p.updated_at %></span> <span class="time">Created: <%= p.created_at %></span>
									<%= link_to "P", {  :controller => "posts",
														:action => "toggle_publish",
														:id => p.id},
														:class => "publish button",
														:title => "(un)Publish" if admin? || current_user?(p.user) %>
									<%= link_to "E", edit_post_path(p.id), :class => "edit button", :title => "Edit" if current_user?(p.user) %>
								</span>
							</td>
						<% end %>
					
				</tr>
		<% end %>
	</table>
	<%= link_to "+Post", new_post_path(:topic_id => @topic.id), :class => "add_item", :tilte => "Create New Topic"  if current_user.rank.clearance >= @topic.forum.division.write_level %>
</div>
