<%= link_to "/Divisions", divisions_path %> <%= link_to "/#{@topic.forum.division.title}", division_path(@topic.forum.division.id)%>  <%= link_to "/#{@topic.forum.title}", forum_path(@topic.forum.id) %>
<div class="list">
	<h3 class="title">
		<sup><%= @topic.id if admin? %></sup>
		<%= @topic.title %>			
		<sup><%= link_to "X", @topic, 	:method => :delete,
						  	  				:confirm => "Topic and all child posts will be permanently and irrecoverably destroyed!  Are you sure?",
						  	  				:title => "Delete #{@topic.title}",
						  	  				:class => "destroy" if admin? %></sup>
		<sup><%= link_to "Edit", edit_topic_path(@topic.id), :class => "edit" if admin? %></sup>
	</h3>
							  	
	<table>
		<% @topic.posts.each do |p| %>
			<tr>
				<td>
					<div class="content">
						<%= link_to "-#{p.user.name}", user_path(p.user.id) %>
						<%= simple_format(p.content) %>
					</div><br/>
						<span class="time">Updated: <%= p.updated_at %></span> <span class="time">Created: <%= p.created_at %></span>
				</td>
			</tr>
		<% end %>
	</table>
	<%= link_to "+Post", new_post_path(:topic_id => @topic.id), :class => "add_item" %>
</div>
