<div class="list">
	<h3>Information</h3>
	<ul>
		<li>Name: <%= @user.name %></li>
		<% if signed_in? && @user.id == current_user.id %>
			<li>Email: <%= @user.email %> <span class="emph">(hidden)</span></li>
		<% end %>
		<li>Access Rank: <%= @user.rank.title %></li>
		<li>Local Timezone: <%= @user.time_zone %></li>
		<li><%= "Member Since: #{@user.created_at.strftime('%B %d, %Y')}" %></li>
	</ul>
	<% if signed_in? && @user.id == current_user.id %>
		<%= link_to "Edit Account", edit_user_path(params[:id]), :class => "cool_link" %>
	<% end %>
</div>