<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :timezone %>
		<%= f.time_zone_select :timezone %>
	</div>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="actions">
		<%= f.submit "Confirm Editions", :class => "action" %>
		<%= f.submit "Cancel", :class => "action" %>
	</div>
<% end %>
