<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<%= hidden_field_tag :uid, params[:uid] %>
	<%= hidden_field_tag :uname, params[:uname] %>
	<%= hidden_field_tag :uemail, params[:uemail] %>
	<%= hidden_field_tag :provider, params[:provider] %>
	<div class="actions">
		<%= f.submit "Register New Account" %>
		<%= f.submit "Cancel" %>
	</div>
<% end %>

<ul>
	<% request.env.each do |item| %>
	    <li><%= item[0] %> : <%= item[1] %></li>
	<% end %>
</ul>