<%= link_to "/Divisions", divisions_path %>
<% @divisions.each do |d| %>
	<div class="list">
		<h3 class="title">
			<sup><%= d.id if admin? %> <%= d.dex if admin? %></sup>
			<%= link_to d.title, :action => "show", :controller => "divisions", :id => d.id %>
			<sup><%= link_to "^", { :controller => "divisions", :action => "dex_up", :id => d.id}, :class => "up button", :title => "Move Up" if admin? %></sup>
			
			<sup><%= link_to "X", d, 	:method => :delete,
							  	  		:confirm => "Division and all child forums will be permanently and irrecoverably destroyed!  Are you sure?",
							  	  		:title => "Delete #{d.title}",
							  	  		:class => "destroy button",
							  	  		:title => "Destroy Division"  if admin?%></sup>
		</h3>
			
		<table>
			<% d.forums.each do |f| %>
				
				<tr class="item">
					<td class="thin"><%= f.id if admin? %></td>
					<td class="thin"><%= f.dex if admin? %></td>
					<td><%= link_to forum_path(f.id), :class => "item" do %><%= f.title %> <sub><%= f.topics.count %></sub><% end %></td>
					
				</tr>
			<% end %>
		</table>
		<%= link_to "+Forum", {:controller => "forums", :action => "new", :division_id => d.id}, :class => "add_item", :title => "Create New Forum" if admin? %>
	</div>
<% end %>
<%= link_to "+Division", "divisions/new", :class => "add_list", :title => "Create new Division" if admin? %>