<%= link_to "/Divisions", divisions_path %>
<% @divisions.each do |d| %>
	<div class="list">
		<h3 class="title">
			
			<%= link_to d.title, :action => "show", :controller => "divisions", :id => d.id %>
			<%= link_to "^", { :controller => "divisions", :action => "dex_up", :id => d.id}, :class => "up button", :title => "Move Up" if admin? %>
			
			<%= link_to "X", d, 	:method => :delete,
							  	  		:confirm => "Division and all child forums will be permanently and irrecoverably destroyed!  Are you sure?",
							  	  		:title => "Delete #{d.title}",
							  	  		:class => "destroy button",
							  	  		:title => "Destroy Division"  if admin?%>
		</h3>
			<%= "##{d.id} d#{d.dex}" if admin? %>
		<table>
			<% d.forums.each do |f| %>
				
				<tr class="item">				
					<td id="item"><%= link_to forum_path(f.id), :class => "item" do %><sup><sup><%= "##{f.id}d#{f.dex}" if admin? %></sup></sup><%= f.title %><% end %></td>
					<td class="new emph"><span id="new"><nobr><%= "<--- Updated #{distance_of_time_in_words_to_now(f.updated_at)} ago" if f.updated_at > current_user.last_login %></nobr></span></td>
					<td class="thin"><nobr><%= "#{f.topics.count} threads" %></nobr></td>
				</tr>
			<% end %>
		</table>
		<%= link_to "+Forum", new_forum_path(:division_id => d.id), :class => "add_item", :title => "Create New Forum" if admin? %>
	</div>
<% end %>
<%= link_to "+Division", "divisions/new", :class => "add_list", :title => "Create new Division" if admin? %>