<%= form_for(@schedule_item) do |si| %>
	<%= render 'shared/error_messages', :object => si.object %>
	<h4>When are you available to play?</h4>
	<div class="field">
		<%= si.label :day %><br />
		<%= si.select(:day, [['Sunday', 0], ['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6] ] ) %><br />
		
		<%= si.label :start_hour %><br />
		<%= si.select(:start_hour, [['12am', 0], ['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10], ['11', 11], ['12pm', 12], ['1', 13], ['2', 14], ['3', 15], ['4', 16], ['5', 17], ['6', 18], ['7', 19], ['8', 20], ['9', 21], ['10', 22], ['11', 23] ] ) %>
	</div>
	<h4>How long will you be available?</h4>
	<div class="field">
	<%= si.label :duration %><br />
	<%= si.text_field :duration %>
	<div class="de-emph" id="note">(In Hours)</div>
	</div>
	
	<div class="actions">
		<%= si.submit "Add", :class => "action" %>	
		<%= si.submit "Cancel", :class => "action" %>
	</div>
<% end %>