<%= render "shared/forums_nav" %>
<%= form_for(@post) do |p| %>
	<%= render 'shared/error_messages', :object => p.object %>
	<div class="field">
		<%= p.label :content %><br />
		<%= p.text_area :content, :autofocus => true %>
	</div>
	<%= hidden_field_tag(:topic_id, params[:topic_id]) %>
	<div class="actions">
		<%= p.submit "Create Post", :class => "action" %>
		<%= p.submit "Cancel", :class => "action" %>
	</div>
<% end %>