<h1>Listing availabilities</h1>

<table>
  <tr>
    <th>Day</th>
    <th>Begin</th>
    <th>End</th>
    <th>User</th>
  </tr>

<% @availabilities.each do |availability| %>
  <tr>
    <td><%= Date::DAYNAMES[availability.day] %></td>
    <td><%= availability.begin.strftime("%I:%M %p") %></td>
    <td><%= availability.end.strftime("%I:%M %p") %></td>
    <td><%= link_to User.find(availability.user_id).name, user_path(availability.user_id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Availability', new_availability_path, :class => "cool_link" %>
