<p>
  <b>User:</b>
  <%= link_to @availability.user.name, user_path(@availability.user)  %>
</p>

<p>
  <b>Begin:</b>
  <%= @availability.begin.strftime('%A %l:%M %p') %>
</p>

<p>
  <b>End:</b>
  <%= @availability.end.strftime('%A %l:%M %p') %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
