<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @availability.user_id %>
</p>

<p>
  <b>Begin:</b>
  <%= @availability.begin %>
</p>

<p>
  <b>End:</b>
  <%= @availability.end %>
</p>

<p>
  <b>Un:</b>
  <%= @availability.un %>
</p>


<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
