<header>
	<h1 class="logo"><%= link_to logo, root_path %></h1>
	<nav class="top">
		<ul class="round">
			<% if signed_in? %>
			   <li><%= current_user.email %></li>
			   <li><%= link_to "Profile", :action => "show", :controller => "users", :id => current_user.id %></li>
			   <li><%= link_to "Sign out", "/signout" %></li>
			<% else %>
			    <li><%= link_to "Sign In / Register", "/authenticate" %></li>
			<% end %>
		</ul>
	</nav>
	
</header>