<header>
	<table>
		<tr>
			<td id="logo"><h1><%= link_to logo, root_path, :id => "logo" %></h1></td>
			<td id="site">
				<%= link_to "About", about_path %>
				<%= link_to "Forums", divisions_path %>
				<%= link_to "Users", users_path %></td>
			</td>
			<td id="account">
				<% if signed_in? %>
					<%= current_user.name %>
					<%= link_to "Profile", :action => "show", :controller => "users", :id => current_user.id %>
					<nobr><%= link_to "Sign Out", "/signout" %></nobr>
				<% else %>
					<%= link_to "Sign In / Register", "/authenticate" %>
				<% end %>
			</td>
		</tr>
	</table>
</header>