<table class="authentications-list">
	<tr>
		<td><%= link_to "/auth/google" do %><%= image_tag "provider_buttons/google_64.png", :size => "64x64", :alt => "Google" %><% end %></td>
		<td><%= link_to "/auth/twitter" do %><%= image_tag "provider_buttons/twitter_64.png", :size => "64x64", :alt => "Twitter" %><% end %></td>
		<td><%= link_to "/auth/open_id" do %><%= image_tag "provider_buttons/openid_64.png", :size => "64x64", :alt => "OpenID" %><% end %></td>
		<td><%= link_to "/auth/myopenid" do %><%= image_tag "provider_buttons/openid_64.png", :size => "64x64", :alt => "MyOpenID" %><% end %></td>
		<td><%= link_to "/auth/yahoo" do %><%= image_tag "provider_buttons/yahoo_64.png", :size => "64x64", :alt => "Yahoo" %><% end %></td>
		<td><%= link_to "/auth/aol" do %><%= image_tag "provider_buttons/aol_64.png", :size => "64x64", :alt => "Aol" %><% end %></td>
		<td><%= link_to "/auth/facebook" do %><%= image_tag "provider_buttons/facebook_64.png", :size => "64x64", :alt => "Facebook" %><% end %></td>
	</tr>
	<tr>
		<td><%= link_to "Google", "/auth/google" %></td>
		<td><%= link_to "Twitter", "/auth/twitter" %></td>
		<td><%= link_to "OpenID", "/auth/open_id" %></td>
		<td><%= link_to "myOpenID", "/auth/myopenid" %></td>
		<td><%= link_to "Yahoo", "/auth/yahoo" %></td>
		<td><%= link_to "AoL", "/auth/aol" %></td>
		<td><%= link_to "Facebook", "/auth/facebook" %></td>
	</tr>
</table>